extends layout

block content
  h1 PollerBear.io
  div.row
    div.col-md-6
      p.mono2.description PollerBear&trade; is a competitive prediction game where you and your friends can use up-to-date polling data and news coverage to select a candidate you believe will win in the upcoming presidential election. Players form villages and compete against other village members to more accurately predict the results of the election in each state. The players choose the states they want to predict by bidding points earned through games designed to make it easy to track the news without drowning in negative coverage. We built this game as a way to learn new skills and work on something together, so this is a genuinely free game. There is no personal data collection that is required for the functioning of the game and there are no ads. We hope you like it!
      br
      br
      p.mono2.description We are a nerdy couple who have two very different skill sets. Josh is an engineer in San Francisco and I (Hannah) am a law student in Georgia. This election cycle we watched the debates in our homes while on the phone. One night, as a joke, we made a bet about when a certain candidate would drop out of the primary race. That bet made us realize something: the election cycle doesn’t have to make us grumpy! We can make it fun while still being involved. We decided to build PollerBear&trade; as a way to help people stay involved without losing perspective. It also gave me the chance to learn about Intellectual Property and Josh the chance to learn new programming skills. We hope to continue creating new features of the game after the election in November.

    div.col-md-4.col-md-offset-1
      form.description(action='/', method='post')
        div.form-group
          label(for='email') Sign up to be notified when we launch
          input.form-control.form-style(type='email', name='email' placeholder='email')
          button.btn.btn-default(type='submit') Submit
          br
          br
          p= message
  img.bottom-right(src='/images/pollerbear_web.png')
